// Variables
$body-color: #ffffff;
$primary-color: #4e9790;
$primary-color-highlight: #88ccc5;
$secondary-color: #485c72;
$border-color: #e5e5e5;
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
$text-color: #848484;
$gray: #eae9ec;
$light-gray: #fafafa;
$light: #fff;
$black: #222222;
$icon-font: FontAwesome;