.faq{
	.accordion-block{
		#accordion,#accordionTwo{
			> [class*="col-"]{
				display: flex;
			}
			.card{
				border-radius: 0;
				margin-bottom: 20px;
				width: 100%;
				.card-header{
					background: $light;
					padding: 0;
					border-bottom: 0;
					h5{
						a{
							display: flex;
							align-items: center;
							width: 100%;
							padding: 20px;
							line-height: 1.3;
							min-height: 72px;
							span{
								padding-right: 20px;
								border-right: 1px solid $border-color;
								margin-right: 20px;
								flex: 0 0 auto;
								display: flex;
								align-items: center;
								justify-content: center;
								width: 24px;
							}
							font-weight: 400;
							color: $black;
						}
					}
				}
				.card-body{
					color: $text-color;
					padding: 15px 20px;
				}
				.collapse.show + .card-header{
					h5{
						a{
							color: $primary-color;
						}
					}
				}
			}
		}
	}
}
